# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# =========================
# Virtual Environments
# =========================
venv/
.venv/
ENV/

# =========================
# PyCharm / JetBrains
# =========================
.idea/
*.iml

# =========================
# Logs & Local DB
# =========================
*.log
*.sqlite3
*.db

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Type checking
# =========================
.mypy_cache/

# =========================
# FastAPI / Uvicorn
# =========================
*.pid
uvicorn.log
